/* import fonts */
/* Abril Fatface font */
@font-face {
  font-family: "Abril Fatface";
  src: url("/assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf")
    format("TrueType");
  font-weight: 400;
}

/* Lato regular */
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato/Lato-Regular.ttf") format("TrueType");
  font-weight: 400;
}

/* Lato bold*/
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato/Lato-Bold.ttf") format("TrueType");
  font-weight: 600;
}
